@import "tailwindcss";

.main-fullscreen {
  @apply flex justify-center items-center flex-col gap-2.5 min-h-screen bg-amber-200
}

.board-inner {
  @apply p-6 bg-stone-700 rounded-md text-white w-full
}

.simple-button {
  @apply rounded-full bg-cyan-500 px-4 py-2 text-sm font-semibold text-white cursor-pointer hover:bg-cyan-500/80
}

.simple-input {
  @apply w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm text-gray-900 text-center placeholder:text-gray-400 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-500
}