@import "tailwindcss";

.main-fullscreen {
  @apply flex justify-center items-center flex-col gap-2.5 min-h-screen bg-amber-200
}

.board-inner {
  @apply p-6 bg-stone-700 rounded-md text-white w-full
}

.simple-button {
  @apply rounded-full bg-cyan-500 px-4 py-2 text-sm font-semibold text-white cursor-pointer hover:bg-cyan-500/80
}

.simple-input {
  @apply w-full rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm text-gray-900 text-center placeholder:text-gray-400 shadow-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-200 disabled:cursor-not-allowed disabled:bg-gray-100 disabled:text-gray-500
}

.square-button {
  @apply w-30 aspect-square rounded-lg border border-gray-300 text-5xl font-semibold cursor-pointer hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-200 flex items-center justify-center leading-none;
}

.active-player {
  @apply outline-2 outline-offset-8 outline-solid rounded-full
}

.log-list {
  @apply mt-4 w-full max-w-md rounded-xl border border-slate-200 bg-slate-50 p-3 shadow-sm max-h-28 overflow-y-auto space-y-2 text-sm
}

.log-list-item {
  @apply rounded-lg bg-white px-3 py-2 leading-snug text-slate-700
}